body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f0f8ff; 
    font-family: Arial, sans-serif; 
}


h1 {
    margin-top: 20px; 
    margin-bottom: 20px; 
    text-align: center; 
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 80%; 
    gap: 20px; 
    margin-left: 30%; 

}

form {
    background: #ffffff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

label {
    display: block; 
    margin: 10px 0; 
    font-weight: bold; 
}

select {
    width: 100%; 
    padding: 8px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

input, textarea, button {
    width: 100%; 
    margin-top: 5px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

button {
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
}

button:hover {
    background-color: #a09e45;
}

#nota-fiscal {
    margin-top: 20px; 
    padding: 20px; 
    background: #ffffe2; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.nota-fiscal {
    border: 2px solid #007BFF; 
    border-radius: 8px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    color: #333; 
    font-family: Arial, sans-serif; 
    width: 40%; 
    margin-top: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.nota-fiscal h3 {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 20px; 
    color: #007BFF; 
}

.nota-fiscal p {
    margin: 5px 0; 
    line-height: 1.5; 
}

.nota-fiscal .itens {
    margin-top: 15px; 
    font-weight: bold; 
}

.nota-fiscal .total {
    margin-top: 15px; 
    font-size: 18px; 
    color: #d9534f; 
    text-align: right; 
}
